<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Bald's Barber</a></h1>

      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Principal</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
          <li><a class="getstarted scrollto" href="#services">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Trasnformando carecas em sorrisos</h1>
          <h2>Buscando a sua beleza desde 2022</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Comece agora</a>
            <a href="https://www.youtube.com/watch?v=REUXbGaEl94" class="glightbox btn-watch-video" target="blank"><i class="bi bi-play-circle"></i><span>Veja o Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../assets/logo/logo_transparent.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre nós</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Apaixonados pela arte de cortar o cabelo a beleza natural, nossos cabeleireiros 
            estão sempre atualizados com as tendências de moda e as novas técnicas do mercado, 
            garantindo sempre as melhores experiências aos nossos clientes. <p>Especializados em:<p>
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Cabelo</li>
            <li><i class="ri-check-double-line"></i> Barba</li>
            <li><i class="ri-check-double-line"></i> Implante Capilar</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Agende seu atendimento de forma simples e intuitiva, com apenas alguns cliques.
            Acesse seu histórico, lista de serviços, receba notificações com lembretes dos seus agendamentos,
            realize pagamentos e muitos mais.
          </p>
          <a href="#services" class="btn-learn-more">Veja mais</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Serviços</h2>
        <p>Muito além de barba, cabelo e bigode, a Bald's Barber supera as expectativas no que se refere aos serviços
          de cuidado com a aparência masculina e lazer, mesclando tradição e contemporaneidade resultando em um ambiente
           diferenciado e exclusivo.</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Cabelo</a></h4>
            <p>Corte o seu cabelo com os melhores profissionais da região</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Barba</a></h4>
            <p>Retoque ou faça sua barba com os melhores barbeiros da região</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Combo</a></h4>
            <p>Corte em combo e ganhe descontos exclusivos por tempo limitado!!!</p>
          </div>
        </div>
        
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <img src="../assets/logo/logo.png" alt="">
        </div>

      </div>

<br><br><br><br>
<div id="fila">
  <div class="section-headline text-center">
    <h2>Lista de Espera</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <table class="table text-center mt-5">
        <thead>
          <tr>
            <td># Fila</td>
            <td>Cliente</td>
            <td>Serviço</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fila; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.cliente}}</td>
            <td>{{servicos[item.servico]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

    </div>
  </section><!-- End Services Section -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

  
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>bald's barber</h3>
              <p>
                n°56 rua mario brandini <br>
                Itapeva-SP<br>
                Brasil <br><br>
                <strong>telefone:</strong> +55 (15)12312-3456<br>
                <strong>Email:</strong> baldsbarber@exemplo.com.mu<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Links Uteis</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Principal</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nós</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Serviços</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Serviços</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Cabelo</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Barba</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Combo</a></li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy;<strong><span>Bald's Barber</span></strong>. Todos direitos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        </div>
      </div>
    </footer><!-- End Footer -->
